<theme=TITLE>Issue:</theme> <theme=ISSUE_KEY>{{ key }}</theme> (<theme=TITLE>{{ issue.issuetype.name }}</theme>)
<theme=TITLE>Status:</theme> {{ issue.status.name }}
<theme=TITLE>Summary:</theme> {{ issue.summary | wrap }}
<theme=TITLE>Reporter:</theme> {{ issue.reporter.name if issue.reporter else "unknown" }}
<theme=TITLE>Assignee:</theme> {{ issue.assignee.name if issue.assignee else "unassigned" }}

{{ issue.description or "No description" }}
